<h1>BEANCOUNTER</h1>

<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit!</h3>

<div id="demo-frame">
  <ul class="social">
    <li class="fb">
      <%= link_to 'Login with Facebook', "http://#{BC_PLATFORM_HOST}:#{BC_PLATFORM_PORT}/beancounter-platform/rest/user/register/facebook/web?redirect=#{REDIRECT_PATH}/auth", :class => 'fb' %>
    </li>
    <li class="tw">
      <%= link_to 'Login with Twitter', "http://#{BC_PLATFORM_HOST}:#{BC_PLATFORM_PORT}/beancounter-platform/rest/user/register/twitter/web?redirect=#{REDIRECT_PATH}/auth", :class => 'tw' %>
    </li>
  </ul>
</div>
