  <section id="dashboard">
    <header>
      <h4 style="padding-left:0">ADMIN DASHBOARD <small>[ <a href="/admin/logout">Logout</a> ]</small></h4>
      <%= image_tag "logo.png", :style => "height: 70px; width: 70px; position: absolute; top: 0; right: 0;"%>
    </header>
    <div style="min-width: 960px; min-height: 600px; background:white">
      <nav>
        <ul><li class="active"><a href="#">Elenco Customer</a></li></ul>
      </nav>
      <table>
        <tr>
          <th>Customer</th>
          <th>Api Key</th>
          <th class="align-center">Profile</th>
        </tr>
        <% @customers.each do |customer| %>
        <tr onclick="window.location.href=<%="'#{admin_dashboard_url(customer)}'"%>" class="hover-pointer">
          <td class="uppercase"><%= customer.api_name %></td>
          <td><%= customer.api_value %></td>
          <td class="align-center"><i class="icon-external-link"></i></td>
        </tr>
      <% end %>
      </table>
    </div>
  </section>
