	<section id="dashboard">
		<header>
			<h4 style="padding-left:0">ADMIN DASHBOARD <small>[ <a href="/admin/logout">Logout</a> ]</small></h4> 	
			<%= image_tag "logo.png", :style => "height: 70px; width: 70px; position: absolute; top: 0; right: 0;"%>
		</header>
		<div style="min-width: 960px; min-height: 600px; background:white">
			<nav>
				<ul>
					<li class="active"><a href="#">Elenco Utenti</a></li>
					<li><a href="#">Statistics</a></li>
				</ul>
			</nav>
			<table>
				<tr>
					<th>Lorem</th>
					<th>Ipsum</th>
					<th>Dolor</th>
					<th>Et</th>
					<th>Amet</th>
				</tr>
				<!-- bof fake data -->
				<% 20.times do %>
				<tr>
					<% 5.times do %>
					<td> <%= (0...10).map{ ('a'..'z').to_a[rand(26)] }.join %> </td>
					<% end %>
				</tr>
				<% end %>
				<!-- eof fake data -->
			</table>
		</div>
	</section>