	<section id="admin-login">
		<header>
			<h1 style="padding-left:0">SECURE</h1>
			<%= image_tag "logo.png", :style => "height: 70px; width: 70px; position: absolute; top: 0; right: 0;"%>
		</header>
		<form onsubmit="return false">
			<h4 style="text-align:center; font-size: 17px;">You are logged into the administrator control panel!</h4>
			<center><a href="/admin/logout">LOGOUT</a></center>
		</form>
	</section>