  
  /* login and authentication (messages & errors) */

  #admin-login { 

    position: absolute; top: 50%; left: 50%; margin: -255px 0 0 -240px; width: 480px; padding: 0; background: white; }

  #admin-login h1 { padding: 0; line-height: 15px; height: 15px; }

  #admin-login form { margin-top: 100px; padding: 0 5%; width: 100%; text-align: right; }

  #admin-login input { 
    
    display: inline-block; padding: 20px; width: 100%; border-radius: 0; border: 2px solid #ccc; box-shadow: none; }

  #admin-login input:focus { border: 2px solid rgb(26,187,156); }

  #admin-login label { color:#888; font-size: 18px !important; text-align: left; margin-top: 15px; }

  #admin-login button { 

    display: inline-block; width: 30%; padding: 10px; font-size: 20px; color: #fff; border-radius: 2px; 

    margin: 20px auto 5px; background: rgb(26,187,156); border: none; border-bottom: 3px solid rgba(0,0,0,0.1); }
  
  #admin-login-error {

    display: inline-block; width: 68%; height: 30px; padding: 10px; line-height: 20px; 

    color: rgb(255, 102, 102); text-align: center;  vertical-align: middle; opacity: 1; transition: opacity 2s ease; }

  #admin-login header:after { display: none; }

  section > nav { height: 80px; }

  /* dashboard and tables */

  #dashboard h4 { color: #fff; }

  #dashboard h4 small { font-size: 12px; color: #fff; }

  #dashboard h4 small a { color: #fff; }

  #dashboard nav { display: table; table-layout: fixed; width: 100%; border-radius: 5px 5px 0 0; margin-bottom: 20px }

  #dashboard nav ul { display: table-row; }

  #dashboard nav li { display: table-cell; border-right: 5px solid #f0f0f0; padding: 0; border-radius: 5px 5px 0 0; }

  #dashboard nav li:first-child { border-radius: 5px 0 0 0; }

  #dashboard nav li:last-child { border-right: none; border-radius: 0 5px 0 0; }

  #dashboard nav a { display: block; 

    font-size: 18px; padding: 10px 0; cursor: pointer;

    text-align: center; background: #1abb9c;
    
    box-shadow: inset 0 -4px 5px -2px rgba(0,0,0,0.2); opacity: 0.8; letter-spacing: 2px;

    }

  #dashboard nav a:hover { opacity: 1; }

  /* #dashboard nav li.active a { text-decoration: underline; } */

  table { border-collapse: collapse; border-spacing: 0; width: 100%; }

  th, td { padding: 10px 0; text-align: left; border-bottom: 1px solid rgba(0,0,0,0.1); }
  
  tr:first-child { border-bottom: 3px solid rgba(0,0,0,0.1); }

  tr:last-child td { border: 0; }

  th { font-weight: bold; }

  tr span.toggler { font-size: 18px; display: block; color: #555; -webkit-transform:rotate(90deg); transform:rotate(90deg); }

  tr span.toggler.click-to-close { -webkit-transform:rotate(270deg); transform:rotate(270deg); }

  .toggler-click { cursor:pointer; }

  .toggler-data { /*background: rgba(0,0,0,0.03); */ }


  /* styling of toggler-data content */

  tr td:first-child, tr th:first-child { text-align: left; padding-left: 10px; }

  #activities { text-align: left; padding-left: 0; padding-right: 10px; margin: 0 }

  #activities li { background: transparent; padding-top: 0; margin-top: 10px }

  #activities .tag { display: inline-block; padding: 2px 5px; border-radius: 3px; background: rgba(0,0,0,0.1); color: #666; }

  #activities .tag[data-provider="twitter"]{ background: #00a0d1; color: white; }

  .provider.icon-twitter-sign { color: #00a0d1; }

  #activities .tag[data-provider="facebook"]{ background: #3b5998; color: white; }

  .provider.icon-facebook-sign { color: #3b5998; }

  #activities .tag.date { float: right; }

  #activities .tag.name { }

  #activities .tag.category { }

  .provider { font-size: 22px; line-height: 14px; padding-right: 20px; display: inline-block; }

  [class*="icon-"]{ background: none; }
